
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

.wrapper {
	position: relative;
	min-width: 1210px;
	min-height: 100%;
	overflow: hidden;
}

.wrapper::after {
	content: "";
	display: block;
	height: 100px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.table-data {
  margin: 0 auto;
  border-collapse: collapse;
}

.table-data__cell {
  padding: 5px;
  border: 1px solid gray;
}

.table-data__cell-inner {
	display: inline-block;
	width: 130px;
	font-size: 0;
	text-align: center;
}

.table-data__cell-icon {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	width: 13%;
	font-size: 16px;
}

.table-data__cell-text {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	width: 87%;
	padding-left: 8px;
	font-size: 16px;
	text-align: left;
}

.table-data__cell_h:hover {
	background-color: lightgrey;
	cursor: pointer;
	transition: background-color 0.5s;
} 

.table-data__cell_h:hover:first-child {
	background-color: transparent;
}

.table-data__cell_field {
	padding: 5px;
	background:#f5f5f5;
}

.table-data__cell_field-inner {
	position: relative;
}

.table-data__search {
	box-sizing: border-box;
	width: 100%;
	padding: 4px 5px;
	padding-right: 20px;
	border: 1px solid #ccc;
  background: white;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.table-data__btn {
	position: absolute;
	right: 1px;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

.table-data__btn-text {
	font-size: 0;
}

.table-data__btn:hover, 
.table-data__btn:focus {
	color: rgb(50, 200, 255);
}

.table-data__select {
	box-sizing: border-box;
	width: 100%;
	padding: 4px 5px;
	border: 1px solid #ccc;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.table-data__search:focus, 
.table-data__select:focus {
	box-shadow: 0 0 5px rgba(50, 200, 255, 0.5);
	outline: none;
}

.table-data__cell:first-child {
	padding: 0;
	text-align: center;
}

.table-data__label {
	box-sizing: border-box;
	display: block;
	height: 100%;
	padding: 10px 20px;
}

.controls {
  margin: 0 auto;
}

.row-selector {
	float: left;
	min-width: 40px;
}

.per-page {
	height: 40px;
	padding: 0 8px;
 	border: 1px solid #ddd;
	color: #95a5a6;
	border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.per-page:hover {
	color: #fff;
	background-color: #95a5a6;
	transition: background-color 0.5s;
}

.pagination {
	width: 437px;
  margin: 30px auto;
  white-space: nowrap;
}

.pagination__list {
	display: inline-block;
	vertical-align: middle;
	margin: 0 1px;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.pagination__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.pagination__item:last-child {
	margin-right: 0;
}

.pagination__link, 
.pagination__control {
	display: inline-block;
  vertical-align: middle;
	height: 38px;
  min-width: 20px;
	padding: 0 9px;
  font-size: 18px;
  line-height: 38px;
  font-weight: 700;
  text-align: center;
  border: 1px solid #ddd;
	color: #95a5a6;
	text-decoration: none;
	border-radius: 4px;
}

 .pagination__control:first-child {
  padding-right: 11px;
  padding-left: 7px;
}

.pagination__control:last-child {
  padding-left: 11px;
  padding-right: 7px;
}

.pagination__control:hover,
.pagination__link:hover {
	color: #fff;
	background-color: #95a5a6;
	transition: background-color 0.5s;
}
.main-footer {
	position: relative;
	min-width: 1210px;
	height: 100px;
	margin-top: -100px;
}

